# Macos Metadata file
.DS_Store

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# vscode c++ config
.vscode/c_cpp_properties.json

# docs
html
latex